In [0]:
import pandas as pd
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [0]:
def get_executives_return_page(url): #사업보고서 주소를 넣으면 '임원의 보수 등' 주소 반환
    try:
        req2 = requests.get(url)
        html2 = req2.text
        soup2 = BeautifulSoup(html2, 'html.parser')
        body = str(soup2.find('head'))

        a = re.search('임원의 보수 등',body).span()
        b= re.search(r'viewDoc(.*);',body[a[0]:]).group()
        ls = b[8:-2].split(',')
        ls = [i[1:-1] for i in ls]
        ls[1] = ls[1][1:] #드러움
        ls[2] = ls[2][1:]
        ls[3] = ls[3][1:]
        ls[4] = ls[4][1:]
        ls[5] = ls[5][1:]    
        
        url_final = 'http://dart.fss.or.kr/report/viewer.do?rcpNo='+ ls[0] + '&dcmNo='+ ls[1]+'&eleId=' +ls[2] + '&offset=' + ls[3] + '&length=' + ls[4] + '&dtd=dart3.xsd'
        return(url_final)
    
    except AttributeError as e:
        print(e)

In [0]:
url = 'http://dart.fss.or.kr/dsaf001/main.do?rcpNo=20200330003851' #사업보고서 url (삼성전자2019)
return_url = get_executives_return_page(url) #사업보고서 중 '임원의 보수 등' 페이지 url

In [0]:
report = urlopen(return_url) #전체 html중 table에는 거의 '단위'가 붙기 때문에 표를 가져오기위해
r= report.read()
xmlsoup = BeautifulSoup(r,'html.parser')
body = xmlsoup.find("body")
body2 = BeautifulSoup(str(body).split('(단위')[1])

In [0]:
raw_tables = []
tables = [] #tables 리스트에 도표 저장
for i in range(1,15):
  raw_tables.append(BeautifulSoup(str(body).split('(단위')[i]))
for j in raw_tables:
  tables.append(pd.read_html(str(j))[0])

In [98]:
tables[0]

              구 분  인원수 주주총회 승인금액 비고
0            등기이사    5         -  -
1            사외이사    3         -  -
2  감사위원회 위원 또는 감사    3         -  -
3               계   11     46500  -

In [99]:
tables[9]

    이름 보수의 종류  ...    총액                                          산정기준 및 방법
0  권오현   근로소득  ...  1249  ㆍ임원처우규정(이사회 결의)에 따라 직급(회장), 위임업무의 성격, 위임업무 수행 ...
1  권오현   근로소득  ...  3269  ㆍ설ㆍ추석상여: 각 월급여 100% 지급ㆍ목표인센티브: 부서별 목표 달성도에 따라 ...
2  권오현   근로소득  ...     -                                           ㆍ해당사항 없음
3  권오현   근로소득  ...   119  ㆍ복리후생: 임원처우규정(이사회 결의)에 따라 임원 의료지원ㆍ건강검진, 차량지원, ...
4  권오현   퇴직소득  ...     -                                           ㆍ해당사항 없음
5  권오현   기타소득  ...     -                                           ㆍ해당사항 없음

[6 rows x 5 columns]

In [100]:
tables[11]

    이름 보수의 종류  ...    총액                                          산정기준 및 방법
0  윤부근   근로소득  ...  1037  ㆍ임원처우규정(이사회 결의)에 따라 직급(부회장), 위임업무의 성격, 위임업무 수행...
1  윤부근   근로소득  ...  2681  ㆍ설ㆍ추석상여: 각 월급여 100% 지급ㆍ목표인센티브: 부서별 목표 달성도에 따라 ...
2  윤부근   근로소득  ...     -                                           ㆍ해당사항 없음
3  윤부근   근로소득  ...   125  ㆍ복리후생: 임원처우규정(이사회 결의)에 따라 임원 의료지원ㆍ건강검진, 차량지원, ...
4  윤부근   퇴직소득  ...     -                                           ㆍ해당사항 없음
5  윤부근   기타소득  ...     -                                           ㆍ해당사항 없음

[6 rows x 5 columns]